activationDistance.double
all_contacts.u16
assigned_contacts.u16
cf_000001
cf_000002
cf_000003
chromflock_gen
chromflock_run
contact_probability_matrix.double
labels.u8
measured_contacts.u16
mflock_jobs
mflock.lua
parallel.log
radial_profile.csv
README.md
run_me.sh
status.txt
